#body_index{
    background-color: rgb(0, 255, 64);
}

#body_genesis{
    background-color: rgb(50, 50, 50);
}

#body_tplink{
    background-color: rgb(255, 255, 255);
    color: aqua;
}

h1{
    background-color: red;
    border: 1px, black, dotted;
}

